.tech-container{

  .tech-stack-img{
    box-sizing: content-box;
    padding: 2rem 3rem;
    width: auto;
    height: 80px;
    transition: ease-in-out 250ms;
  }
  .tech-stack-img:hover{
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 480px){
  .tech-container{

    .tech-stack-img{
      padding:2rem 2rem;
      width: auto;
      height: 70px;
    }
  }
}