.container{
  .project-container{
    border-radius: 10px;
    height: 500px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 3px 3px 0px 1px $light-deep-space;
    position: relative;

    
    .meta-info{
      background-color: transparentize($background-dark,  0.2);
      align-self: flex-end;
      height: 70%;
      width: 100%;
      text-align: center;
      padding: 1rem;
      position: absolute;
      top:100%;
      transition: .5s;

      a, span{
        padding-left: .5rem;
        padding-right: .5rem;
        text-decoration: none;
      }
    }
  }
  
  

  .project1{
    background-image: url("../projects-snaps/kaisen-gotchi.jpg");
    background-size: cover;
    background-position: center;
  }
  .project2{
    background-image: url("../projects-snaps/goodeats.png");
    background-size: cover;
    background-position: center;
  }
  .project3{
    background-image: url("../projects-snaps/the-wayfarer.jpg");
    background-size: cover;
    background-position: center;
  }
  .project4{
    background-image: url("../projects-snaps/fotonegative.jpg");
    background-size: cover;
    background-position: center;
  }
  .project5{
    background-image: url("../projects-snaps/outlet.png");
    background-size: cover;
    background-position: center;
  }

  .project1:hover{
    background-image: url("../projects-snaps/kaisen-gotchi-gif.gif");
    background-size: cover;
    background-position: center;
    .meta-info{
      top:40%;
    }
  }
  .project2:hover{
    background-image: url("../projects-snaps/goodeats-gif.gif");
    background-size: cover;
    background-position: center;
    .meta-info{
      top:40%;
    }
  }
  .project3:hover{
    background-image: url("../projects-snaps/wayfarer-gif.gif");
    background-size: cover;
    background-position: center;
    .meta-info{
      top:40%;
    }
  }
  .project4:hover{
    background-image: url("../projects-snaps/fotonegative-gif.gif");
    background-size: cover;
    background-position: center;
    .meta-info{
      top:40%;
    }
  }
  .project5:hover{
    background-image: url("https://res.cloudinary.com/dsxis0hux/image/upload/v1637789547/pics/25d6a24be92194874de799803d371188_embamn.gif");
    background-size: cover;
    background-position: center;
    .meta-info{
      top:40%;
    }
  }
}

@media screen and (max-width:480px) {
  .container{
    .project-container{

      .meta-info{
        height: 100%;
      }
    }
    .project1:hover, .project2:hover, .project3:hover, .project4:hover {
      .meta-info{
        padding-top: 2rem;
        top:0%;
      }
    }
  }
}