.about{
  margin: 2rem;
  margin-top: 0rem;
  padding: 10px;
  .portrait{
    margin:2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .about-portrait{
    background-color: $font-color;
    padding: 1rem;
    box-shadow: 5px 5px 0px 5px $timberwolf;
    overflow: hidden;
    transition:2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
  
    img{
    width: 300px;
    height: auto;
    }
  }
  .about-portrait:hover{
    transform: rotateY(180deg);
    -webkit-transform: translateY(180deg);
    -moz-transform: translateY(180deg);
  }
  .about-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparentize($font-color, 0.7);
    box-shadow: 5px 5px 0px 3px $light-deep-space;
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    h1{
      letter-spacing: 2px;
      text-align: center;
    }
    p{
      font-weight:200;
      font-size: 25px;
    }
  }
  .table{
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    th{
      text-align: center;
    }
  }
}


@media screen and (max-width: 480px) {
  .about{
    .container{
      margin: 1rem;
      padding-left:0px;
    }
    .about-portrait{
      justify-self: center;
      padding:0.5rem;
      border-radius: 4px;

      img{
        border-radius: 4px;
      }
    }
    .about-portrait:hover{
    transform: rotateY(0deg);
    -webkit-transform: translateY(0deg);
    -moz-transform: translateY(0deg);
  }
    .about-text{
      width: 99%;
      padding:1.5rem;
      margin: 1.5rem 0.5rem;
      h1{
        font-size: 25px;
        text-align: center;
      }
      p{
        font-size: 15px;
      }
    }
    .table{
      width: 90%;
      h1{
        font-size: 20px;
      }
      .table-container{
        display: block;
        width: 100%;
        overflow-x: auto;
      }
    }
  }
}