@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.home { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 70%; margin-left: auto; margin-right: auto; }

.home hr { margin: 20px auto; width: 95%; border: 0; height: 1px; background-image: -webkit-gradient(linear, left top, right top, from(#2B3D4A), color-stop(#EFF3F6), to(#2B3D4A)); background-image: linear-gradient(to right, #2B3D4A, #EFF3F6, #2B3D4A); }

.home .tech-stack { text-align: center; font-family: "Shadows Into Light Two", cursive; background-color: rgba(239, 243, 246, 0.2); margin: 2rem 3rem; padding: 1rem; border-radius: 10px; -webkit-box-shadow: 5px 5px 0px 2px #5C9499; box-shadow: 5px 5px 0px 2px #5C9499; }

.home .tech-stack .tech-stack-section { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }

.home .projects { text-align: center; margin: 2rem 3rem; padding: 1rem; }

.splash { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100vh; }

.splash .left-section { padding: 0.8rem; margin: 1rem; }

.splash .right-section { position: relative; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 720px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 4rem 1.5rem; margin: 1rem 50px 50px; background: #EFF3F6; text-align: center; border-top-left-radius: 220px 120px; border-top-right-radius: 220px 120px; border-bottom-right-radius: 220px 120px; border-bottom-left-radius: 220px 120px; border-radius: 220px /120px; -webkit-box-shadow: 3px -5px 0px 1px #5C9499; box-shadow: 3px -5px 0px 1px #5C9499; }

.splash .right-section h1 { color: #2B3D4A; }

.splash .right-section a { font-family: "Space Mono", monospace; text-decoration: none; color: #3F3C68; overflow: hidden; border-right: 0.15em solid #5C9499; white-space: nowrap; margin: 0 auto; letter-spacing: .10em; -webkit-animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite; animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite; }

.splash .right-section a:hover { text-shadow: 1px 1px 0px #6577A4; }

.splash .right-section::before { content: ""; position: absolute; z-index: -1; bottom: -30px; right: 50%; height: 30px; border-right: 60px solid #EFF3F6; background: #EFF3F6; -webkit-transform: translate(0, -2px); transform: translate(0, -2px); border-bottom-right-radius: 80px 50px; transform: translate(0, -2px); }

.splash .right-section::after { content: ""; position: absolute; z-index: -1; bottom: -32px; right: 50%; width: 60px; height: 30px; background: #2B3D4A; border-bottom-right-radius: 45px 45px; -webkit-transform: translate(-30px, -2px); transform: translate(-30px, -2px); }

@-webkit-keyframes typing { from { width: 0; }
  to { width: 60%; } }

@keyframes typing { from { width: 0; }
  to { width: 60%; } }

@-webkit-keyframes blink-caret { from, to { border-color: transparent; }
  50% { border-color: #5C9499; } }

@keyframes blink-caret { from, to { border-color: transparent; }
  50% { border-color: #5C9499; } }

@media screen and (max-width: 480px) { .splash { height: 80vh; } }

.navbar-container { background-color: rgba(101, 119, 164, 0.5); }

.uk-navbar-nav li > a { font-family: "Shadows Into Light Two", cursive; letter-spacing: 3px; padding: 0.8rem; margin: .2rem; font-size: 1.5rem; color: #EFF3F6; text-shadow: 2px 2px 0px #2B3D4A; }

.uk-navbar-nav li > a:hover { color: #6577A4; text-shadow: 0px 1px 0px #EFF3F6; }

.about { margin: 2rem; background: rgba(239, 243, 246, 0.3); padding: 10px; -webkit-box-shadow: 5px 5px 0px 3px #5C9499; box-shadow: 5px 5px 0px 3px #5C9499; border-radius: 10px; }

.about .container { margin: 2rem 5rem; }

.about .about-portrait { background-color: #EFF3F6; padding: 2rem; margin: 0.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 50% 10% / 25%; -webkit-box-shadow: 5px 5px 0px 5px #5C9499; box-shadow: 5px 5px 0px 5px #5C9499; overflow: hidden; }

.about .about-portrait img { width: 25rem; height: auto; }

.about .about-text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 2rem; margin: 1rem; }

.about .about-text h1 { font-family: "Shadows Into Light Two", cursive; letter-spacing: 2px; }

.contact-section { padding: 2rem; margin: 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.contact-section .contact-content { padding: 1rem; margin: 0.5rem; width: 750px; height: 750px; border-radius: 50% 10% / 25%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 0.6s linear; transition: 0.6s linear; -webkit-box-shadow: 5px 5px 0px 5px #5C9499; box-shadow: 5px 5px 0px 5px #5C9499; }

.contact-section h2 { padding: 0.8rem; color: #2B3D4A; }

.contact-section a { padding: 0.8rem; }

.contact-section a span { margin: 0.5rem; }

.contact-section .contact-content:hover { outline-width: 10px; -webkit-box-shadow: 1px 1px 5px 10px #5C9499; box-shadow: 1px 1px 5px 10px #5C9499; }

.tech-container .tech-stack-img { -webkit-box-sizing: content-box; box-sizing: content-box; padding: 2rem 3rem; width: auto; height: 80px; -webkit-transition: ease-in-out 250ms; transition: ease-in-out 250ms; }

.tech-container .tech-stack-img:hover { -webkit-transform: translateY(-10px); transform: translateY(-10px); }

.container .project-container { border-radius: 5px; height: 400px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; overflow: hidden; -webkit-box-shadow: 3px 3px 0px 1px #5C9499; box-shadow: 3px 3px 0px 1px #5C9499; }

.container .project-container .meta-info { visibility: hidden; background-color: rgba(43, 61, 74, 0.8); -ms-flex-item-align: end; align-self: flex-end; height: 60%; width: 100%; text-align: center; padding: 1rem; }

.container .project-container .meta-info a, .container .project-container .meta-info span { padding-left: .5rem; padding-right: .5rem; text-decoration: none; }

.container .project1 { background-image: url("../projects-snaps/kaisen-gotchi.jpg"); background-size: cover; }

.container .project2 { background-image: url("../projects-snaps/goodeats.png"); background-size: cover; }

.container .project3 { background-image: url("../projects-snaps/the-wayfarer.jpg"); background-size: cover; }

.container .project4 { background-image: url("../projects-snaps/fotonegative.jpg"); background-size: cover; }

.container .project1:hover { background-image: url("../projects-snaps/kaisen-gotchi-gif.gif"); background-size: cover; background-position: center; }

.container .project1:hover .meta-info { visibility: visible; -webkit-animation: moveup 0.8s steps(60, end); animation: moveup 0.8s steps(60, end); }

.container .project2:hover { background-image: url("../projects-snaps/goodeats-gif.gif"); background-size: cover; background-position: center; }

.container .project2:hover .meta-info { visibility: visible; -webkit-animation: moveup 0.8s steps(60, end); animation: moveup 0.8s steps(60, end); }

.container .project3:hover { background-image: url("../projects-snaps/wayfarer-gif.gif"); background-size: cover; background-position: center; }

.container .project3:hover .meta-info { visibility: visible; -webkit-animation: moveup 0.8s steps(60, end); animation: moveup 0.8s steps(60, end); }

.container .project4:hover { background-image: url("../projects-snaps/fotonegative-gif.gif"); background-size: cover; background-position: center; }

.container .project4:hover .meta-info { visibility: visible; -webkit-animation: moveup 0.8s steps(60, end); animation: moveup 0.8s steps(60, end); }

@-webkit-keyframes moveup { from { height: 0; }
  to { height: 60%; } }

@keyframes moveup { from { height: 0; }
  to { height: 60%; } }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { scroll-behavior: smooth; }

body { color: #EFF3F6; font-family: "Monsterrat", sans-serif; letter-spacing: 1px; }

h1, h2, h3, h4, h5, h6 { font-family: "Shadows Into Light Two", cursive; color: #EFF3F6; letter-spacing: 4px; }
/*# sourceMappingURL=main.css.map */