@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
.home { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 70%; margin-left: auto; margin-right: auto; }

.home hr { margin: 20px auto; width: 95%; border: 0; height: 1px; background-image: -webkit-gradient(linear, left top, right top, from(#263743), color-stop(#EFF3F6), to(#263743)); background-image: linear-gradient(to right, #263743, #EFF3F6, #263743); }

.home .tech-stack { text-align: center; font-family: "Shadows Into Light Two", cursive; background-color: rgba(239, 243, 246, 0.2); margin: 2rem 3rem; padding: 1rem; border-radius: 10px; -webkit-box-shadow: 5px 5px 0px 2px #5C9499; box-shadow: 5px 5px 0px 2px #5C9499; }

.home .tech-stack .tech-stack-section { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }

.home .projects { text-align: center; margin: 2rem 3rem; padding: 1rem; }

.splash { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100vh; }

.splash .left-section { padding: 0.8rem; margin: 1rem; }

.splash .right-section { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0.8rem; margin: 1rem; }

.splash .right-section a { font-family: "Monsterrat", sans-serif; text-decoration: none; }

@media screen and (max-width: 480px) { .splash { height: 80vh; } }

.navbar-container { background-color: rgba(101, 119, 164, 0.5); }

.uk-navbar-nav li > a { font-family: "Shadows Into Light Two", cursive; letter-spacing: 3px; padding: 0.8rem; margin: .2rem; font-size: 1.5rem; color: #EFF3F6; text-shadow: 2px 2px 0px #263743; }

.uk-navbar-nav li > a:hover { color: #6577A4; text-shadow: 0px 1px 0px #EFF3F6; }

.about { margin: 2rem; background: rgba(239, 243, 246, 0.3); padding: 10px; -webkit-box-shadow: 5px 5px 0px 3px #5C9499; box-shadow: 5px 5px 0px 3px #5C9499; border-radius: 10px; }

.about .container { margin: 2rem 5rem; }

.about .about-portrait { background-color: #EFF3F6; padding: 2rem; margin: 0.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 50% 10% / 25%; -webkit-box-shadow: 5px 5px 0px 5px #5C9499; box-shadow: 5px 5px 0px 5px #5C9499; overflow: hidden; }

.about .about-portrait img { width: 25rem; height: auto; }

.about .about-text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 2rem; margin: 1rem; }

.about .about-text h1 { font-family: "Shadows Into Light Two", cursive; letter-spacing: 2px; }

.contact-section { padding: 2rem; margin: 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.contact-section .contact-content { padding: 1rem; margin: 0.5rem; width: 750px; height: 750px; border-radius: 50% 10% / 25%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 0.6s linear; transition: 0.6s linear; -webkit-box-shadow: 5px 5px 0px 5px #5C9499; box-shadow: 5px 5px 0px 5px #5C9499; }

.contact-section h2 { padding: 0.8rem; color: #263743; }

.contact-section a { padding: 0.8rem; }

.contact-section a span { margin: 0.5rem; }

.contact-section .contact-content:hover { outline-width: 10px; -webkit-box-shadow: 1px 1px 5px 10px #5C9499; box-shadow: 1px 1px 5px 10px #5C9499; }

.tech-container .tech-stack-img { -webkit-box-sizing: content-box; box-sizing: content-box; padding: 2rem 3rem; width: auto; height: 80px; -webkit-transition: ease-in-out 250ms; transition: ease-in-out 250ms; }

.tech-container .tech-stack-img:hover { -webkit-transform: translateY(-10px); transform: translateY(-10px); }

.container .project-container { background-color: rgba(239, 243, 246, 0.5); padding: 2rem; border-radius: 5px; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { scroll-behavior: smooth; }

body { color: #EFF3F6; font-family: "Monsterrat", sans-serif; letter-spacing: 1px; }

h1, h2, h3, h4, h5, h6 { font-family: "Shadows Into Light Two", cursive; color: #EFF3F6; letter-spacing: 4px; }
/*# sourceMappingURL=main.css.map */