@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

$header-font: 'Marcellus SC', serif;
$handwriting-font: 'Shadows Into Light Two', cursive;
$base-font: 'Monsterrat', sans-serif;